table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160px;
}

img{
    width: 80px;
    height: 80px;
}

.adjuct-update-link{
    margin-left: 10px;
}